h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.genre-header {
  border-bottom: black 0.5px solid;
  height: 300px;
  padding: 0 20px;
}

.create-genre {
  height: 30px;
  width: 100px;
  margin-top: 10%;
}

.create-genre a {
  font-size: 10px;
  border: 1px solid black;
  padding: 14px;
  color: black;
  text-decoration: none;
  background-color: #78bec7;
}

.chat-room-form {
  width: 270px;
  height: 200px;
  margin: 10px auto 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.chat-room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-room-form__label {
  display: block;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.chat-room-form__input {
  float: left;
  width: 100%;
  line-height: 10px;
  padding: 10px 15px;
  margin: 0 auto 15px;
  box-sizing: border-box;
}

.chat-room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #78bec7;
  border: 0;
  width: 180px;
  margin: 0 30px 0 30px ;
}
.chat-room-form__field {
  box-sizing: border-box;
}

.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}

.field_with_errors {
  display: contents;
}