html { background-color: rgba(247, 227, 141, 0.836); }

.wrapper {
  display: flex;
  /* width: 100%; */
  /* height: 100vh; */
  /* background-color: rgba(247, 227, 141, 0.836); */
}

.genre {
  width: 300px;
  background-color: #fad884bd;
  min-height: 100vh;
}

.header-genre-name{
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.geres-lists {
  /* height: calc(100vh - 100px); */
  padding: 0 20px;
  overflow: scroll;
}

.genre-list-name {
  margin: 20px 0 40px;
  border: #62c1ce 2.5px solid;
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(141, 207, 185) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

.genre-list-name:hover{
  background-position: -100% 0;
  color: #fff;
}

.genre-name a {
  /* text-decoration: none; */
  color:black;
  padding: 0 10px;
}

.genre-name a:hover{
  background-position: -100% 0;
  color: #fff;
}

.memo {
  width: calc(100vw - 300px);
  /* height: 100%; */
  /* min-height: 100vh; */
}

.memos-space {
  /* background-color: #EEE8AA; */
  /* height: 100vh; */
  overflow: scroll;
  display: flex;
  justify-content: space-between;
}

.memo-list {
  margin: 10px 0 0 0;
}

.upper-memo {
  display: flex;
  /* margin: auto; */
  display: inline-block;
}

.memo-title {
  color: #434a54;
  font-size: 16px;
  display: inline-block;
}

.memo-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
  display: inline-block;
}

.lower-memo {
  margin-top: 10px;
}

.memo-text {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  background-color: #FFFACD;
  height: 100%;
  min-height: 100vh;
  padding: 20px 40px;
  display: flex;
  width: calc(100vw - 300px - 50%);
  display: block;
}

.form-input {
  background-color: #FFFACD;
  display: flex;
  width: 100%;
  height: 90%;
  display: block;
}

.form-title {
  height: 50px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  border: none;
}

.form-text {
  border: none;
  height: 500px;
  overflow: scroll;
  width: 100%;
  padding-left: 10px;
  display: block;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  margin: 5px;
  /* display: block; */
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  /* display: block; */
}

.hidden {
  display: none;
}

.genre-box {
  position: relative;
  margin: 2em 0;
  padding: 2.9em 18.0em 30em 0;
  border: solid 3px #62c1ce;
}

.genre-box .genre-label {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #62c1ce;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.box {
  margin: 0; 
  padding: 0;
}