/* ユーザー(device) */
html { height: 100%; }

.contents {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: 50% 40%;
  background-image: linear-gradient(90deg, rgba(241, 245, 244, 0.55), rgba(240, 245, 244, 0.8)) , url(jeshoots-com-pUAM5hPaCRI-unsplash.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  color: black;
  font-size: 30px;
  margin: auto 200px;
}

h1 {
  font-size: 90px;
  text-align: center;
}

h2 {
 font-size: 40px;
 text-align: center;
}

.actions {
 padding: 20px 0;
}

nobr {
 font-size: 17px;
}

.logout {
  font-size: 18px;
}
/* /* ユーザー(device) */

/* ホーム、ログインボタン */
.home {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: #ccc;
  border: gray 1.5px solid;
}

.icon {
  margin: 18px;
  font-size: 14px;
}
/* ホーム、ログインボタン */

/* メモ検索 */
.search-form {
  font-size: 1.2rem;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
}

.search-input {
  width: 205px;
  height: 50px;
  padding: 0 10px;
  margin-right: 7px;
}

.search-btn {
  width: 50px;
  height: 50px;
  padding: 10px, 20px;
  background-color: #ccc;
  font-size: 15px;
  cursor: pointer;
}
/* メモ検索 */