<div class="genres-lists">
  <div class="genre-list-name">
    <div class="plus">
      <p><%= link_to image_tag("icon_001560_32.png", width: '20'), new_genre_path %></p>
      <p>ジャンル作成</p>
    </div>
  </div>
  <% current_user.genres.each do |genre| %>
    <div class="genre-list-name">
      <div class="genre-name">
        <p><%= link_to genre.name, genre_memos_path(genre) %></p>
        <%# 削除 %>
        <%= link_to image_tag("icon_065640_32.png", width: '20'), genre_path(genre.id), method: :delete %>
        <%# 詳細 %>
        <%= link_to image_tag("icon_000560_32.png", width: '20'), edit_genre_path(genre.id), method: :get %>
      </div>
    </div>
  <% end %>
</div>