<div class="genre-header">
  <div class="header-genre-name">ジャンル</div>
  <div class="create-genre">
    <a href="#">作成する</a>
  </div>
</div>

<div class="geres-lists">
  <div class="genre-list">
    <div class="genre-name">
      <a href="#">HTML/CSS</a>
    </div>
  </div>
  <div class="genre-list">
    <div class="genre-name">
      <a href="#">Ruby</a>
    </div>
  </div>
</div>