<div class="memo-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">このジャンルのメモを終了する</a>
    </div>
  </div>
</div>

<div class="memos-space">
  <div class="memo-list">
    <div class="upper-memo">
      <div class="memo-title">
        エラー文の読みとき
      </div>
      <div class="memo-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-memo">
      <div class="memo-text">
        syntaxエラー
      </div>
    </div>
  </div>

  <div class="memo-list">
    <div class="upper-memo">
      <div class="memo-title">
        MVC
      </div>
      <div class="memo-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-memo">
      <div class="memo-text">
        モデル、ビュー、コントローラー
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-memo" placeholder= "type a memo">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>