<div class="memo-list">
  <div class="upper-memo">
    <div class="memo-title">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= memo.title %>
    </div>
    <div class="memo-date">
      <!-- 投稿した時刻を出力する -->
      <%= memo.created_at %>
    </div>
  </div>
  <div class="lower-memo">
    <div class="memo-text">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= memo.text %>
    </div>
  </div>
</div>